# Environmental variables (contains sensitive info)
.env

# Data
data/raw/
data/processed/
data/interim/

# Log files
logs/

# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo


# THIRD PARTY 

# Claude & coding agent related
.claude

# Obsidian
*.obsidian

# VSCode
.vscode/